.w-50px {
  width: 50px;
}

.w-100px {
  width: 100px !important;
}

.w-200px {
  width: 200px;
}

.w-300px {
  width: 300px;
}

.mb-xs {
  margin-bottom:4px;
}

.justify-center {
  justify-content: center;
}

.green {
  background-color: #6dd283;
  border: 1px solid #28b348;
}

.red {
  background-color: #f35866;
  border: 1px solid #b90f1f;
}


.sharp-corners-left {
  border-radius:;
}

/*
========================================================
*/

.shiny-input-widget .input-group-addon {
    padding:0px;
    border:0px;
    width:auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}


.open-ends {
  border-left-width:0 !important;
  border-right-width:0 !important;
}

.sharp-corners {
  border-radius: 0px !important;
}

.pd-0 {
  padding: 0 !important;
}

/*
Flex CSS
*/

.flex-container {
  display: flex !important;
}

.flex-container > *:last-child button, .flex-container > button:last-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.flex-container > *:first-child button, .flex-container > button:first-child{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.flex-container .input-group-addon {
  width:auto;
}

.flex-item {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  white-space: nowrap !important;
  text-align: left !important;
  display: contents;
}

.flex-static-xl {
  flex: 0 0 24em !important;
}

.flex-static-lg {
  flex: 0 0 12em !important;
}

.flex-static-md {
  flex: 0 0 8em !important;
}

.flex-static-sm {
  flex: 0 0 4em !important;
}

.flex-static-xs {
  flex: 0 0 2em !important;
}

.fill {
  height: 100%;
  width: 100%;
}
